@import "shared";
:root {
  --like-icon-color: red;
  --comment-icon-color: var(--color2);
}

main {
  margin: auto;
  padding: 0 10px;
}

#date,
.author {
  margin: 10px auto;
}

#date {
  display: inline-block;
}

h2 {
  font-weight: 700;
}

#body {
  font-size: 1.1em;
  letter-spacing: 0.5px;
  line-height: 150%;
  & > * {
    margin-top: 1em;
  }

  a {
    text-decoration: underline;
  }

  ul,
  ol {
    list-style-type: initial;
    list-style-position: inside;
  }

  blockquote {
    width: 60%;
    min-width: 250px;
    margin: 1em auto auto auto;
    padding: 15px 20px;
    background: var(--color1);
    color: #fff;
  }

  dt {
    font-weight: 500;
  }
}

.reply-btn,
#reactions > button {
  &:hover,
  &:focus-visible {
    transform: scale(1.1);
  }
}

#reactions {
  padding-top: 10px;
  padding-bottom: 20px;
    position: relative;
  & > button {
    padding: 4px;
    background: transparent;
    border: 2px solid transparent;
  }
}

#like-btn,
#report-btn {
  color: var(--like-icon-color);
}

#comment-btn {
  color: var(--comment-icon-color);
}

#report-btn {
  float: right;
}

.clicked {
  svg {
    &:first-child {
      display: none;
    }
    &:last-child {
      display: initial;
    }
  }
}

#share-options,
#report-dialog {
  border: 1px solid #000;
}

#share-options {
  background: #000000bf;
  color: #fff;
  font-size: 1.2em;
  padding: 5px 35px;
  backdrop-filter: blur(5px);
  position: absolute;
  top: -7em;
  left: 0.75em;
  & > li {
    padding: 5px 10px;
  }
  &::before {
    content: "";
    position: absolute;
    bottom: -12px;
    left: 4em;
    width: 20px;
    height: 20px;
    transform: rotate(-45deg);
    border-top-right-radius: 20px;
    background: inherit;
    backdrop-filter: inherit;
  }
}

#report-dialog {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  background: #00000080;
  & > div {
    background: #fff;
    padding: 10px;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 500px;
  }
  h4 {
    margin-bottom: 1em;
  }
}

#report-form {
  border-top: 1px solid;
  padding-top: 10px;

  label,
  input,
  textarea {
    display: block;
  }

  label {
    margin-bottom: 6px;
    font-weight: 600;
  }

  input,
  textarea {
    margin-bottom: 10px;
    padding: 4px;
    width: 100%;
    border: 1px solid;
    line-height: 1.5;
    font-size: 1em;
    letter-spacing: 0.5px;
  }

  textarea {
    height: 100px;
  }

  button {
    float: right;
    &:first-of-type {
      margin-left: 10px;
    }
    &:last-of-type {
      background: var(--color3);
      border-color: var(--color3);
      &:hover,
      &:focus-visible {
        background: transparent;
        color: var(--color3);
      }
    }
  }
}

#comments-section {
  padding-bottom: 25px;
}

.show-comment-section{
  animation: show-section 1s ease forwards;
}

@keyframes show-section {
  0%{
    opacity: 0;
    transform: translateY(-100%);
  }
  50%{
    opacity: 0;
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}

.comment-form {
  display: flex;
  padding: 1em 0.5em;
  background: var(--color3);
  border-radius: 4px;
  label {
    border-radius: 50px 0px 0px 50px;
    padding: 5px;
    background: var(--color2);
    color: #fff;
    display: flex;
    align-items: center;
    svg{
      padding: 2px;
      margin-left: 4px;
    }
  }
  textarea {
    width: 100%;
    border: 0px;
    border-radius: 0 50px 50px 0;
    padding: 0 0.25em;
    letter-spacing: 1px;
    font-size: 1em;
    min-height: 37px;
    height: 37px;
  }
  button {
    border-radius: 100px;
    padding: 3px;
    color: var(--color1);
    background: transparent;
    border: 3px solid;
    margin-left: 4px;
  }
}

.comment {
  padding: 2px;
  time {
    float: right;
    margin-top: 0.6em;
    margin-left: 0.6em;
  }
  &:not(.comment:last-child) {
    margin-bottom: 25px;
  }
}

.comment-author {
  margin: 5px auto;
}

.comment-body {
  margin-bottom: 5px;
}

.reply-btn {
  background: var(--color1);
  border: 2px solid var(--color1);
  padding: 1px;

  img {
    width: 24px;
    filter: invert(1);
    vertical-align: middle;
  }
}

.reply-form{
  margin: 5px 0em 0 0;
  padding: 4px;
  border-radius: 50px;
}

@media screen and (min-width: 650px) {
  body {
    background: linear-gradient(var(--color2), var(--color4), var(--color1));
  }
  main {
    width: 90%;
    background: var(--color4);
  }
  #date {
    margin: 2px;
  }
  h2 {
    font-size: 2em;
  }
  #report-dialog {
    font-size: 1.1em;
  }
}

@media screen and (min-width: 900px) {
  main {
    width: 80%;
    padding: 0 20px;
  }
  #date,
  .author {
    font-size: 1.1em;
  }
  #body {
    font-size: 1.2em;
  }
  .comment-form{
    textarea{
      font-size: 1.1em;
    }
  }
}
